.tvshow-card {
    width: 24%;
    color: #fff;
    position: relative;
  }
  .tvshow-card .tvshow-info {
    position: absolute;
    bottom: 0;
    padding: 24px;
  }
  .tvshow-card h2 {
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
  }
  .tvshow-card .overlay {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    background: linear-gradient(
      180deg,
      rgba(29, 29, 29, 0) 0%,
      rgba(29, 29, 29, 0.8) 80.79%
    );
  }